[Unit]
Description=FIDO SSH Agent
After=graphical-session.target

[Service]
Type=notify
ExecStart=%h/.nix-profile/bin/fido-ssh-agent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
