[Unit]
Description=FIDO SSH Agent socket
After=gcr-ssh-agent.socket gpg-agent-ssh.socket
Before=graphical-session-pre.target

[Socket]
ListenStream=%t/fido-ssh-agent.sock
ExecStartPost=/bin/systemctl --user set-environment SSH_AUTH_SOCK=%t/fido-ssh-agent.sock

[Install]
WantedBy=sockets.target
